{% layout 'layout.liquid' %}

{% block content %}

<div class="card" style="width: 18rem;">
    <h1>{{cal.name}}</h1>
    <div class="card-header">
        <h3>Upcoming events</h3>
    </div>
    <ul class="list-group">
        {% for data in data %}
        <li class="list-group-item">{{data.date}}</li>
        <li class="list-group-item"><a href="/personal/show/{{data._id}}/{{cal._id}}">{{data.title}}</a></li>
        {% endfor %}
    </ul>
    <a href="/personal/list" class="btn btn-success">Back to calendars list</a>
    <a href="/personal/newEvent/{{calId}}" class="btn btn-success">Create New Event</a>
</div>

{% endblock %}

<!-- DISPLAY OF EVENTS UNDER PERSONAL CALENDAR -->