{% layout 'layout.liquid' %}

{% block content %}

<p></p>
    <h2 class="display-6">Display all</h2>
    <div class="row">
        <div class="card" style="width: 18rem">
           <p></p>
           <p></p>
        </div>
    </div>
<!-- 
<h5 class="card-header">{{data.name}}</h5>
           <div class="card-body">
                <h6 class="card-title">Category: {{data.category}}
                </h6>
               <p class="card-text">Group: {{data.group}}</p>
               <p class="card-text">{{data.htmlCode[0]}}</p>
               <a href="/" class="btn btn-info">View {{fruit.name}}</a> 

{% endblock %}